/*@author:jiewu */
/*HEADER*/
#header-nav {
  background-color: #B4CFEC;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family:sans-serif;
  color: #493;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-size: 1.8em;
}
#nav-list a:hover {
  background: #E7E7E7; 
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid ;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

/*MAIN CONTAINER*/
*{
	box-sizing: border-box;
}
		
#title {
  	margin:auto;
  	text-align:center;
  	position:relative;
  	width:50%;
}

.row{
	width:100%;
}

.menu{
  	border: 1px solid black;
  	margin: 15px;
  	margin-left:30px;
  	margin-right:30px;
  	background-color: #AAAAAA;
  	padding: 15px;
}
.option{
	width:100px;
	height:25px;
	border: 1px solid black;
  	text-align:center;
  	position:relative;
  	top:-35px;
  	right:-15px;
  	float:right;
  	font-size:1.25em;
  	font-family:sans-serif;

}
.content{
	position:relative;
	top:-20px;
	font-family:sans-serif;
	overflow:auto;
	padding:10px;
	clear: right;
	}

#p1 {
	background-color: #D87093;
}
#p2 {
  	background-color: #DC143C;
  	color:#FFFFFF;
}
#p3 {
  	background-color: #EEEE00;
}
